@font-face {
    font-family: 'Permanent Marker';
    src: url('PermanentMarker-Regular.eot');
    src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'),
        url('PermanentMarker-Regular.eot?#iefix') format('embedded-opentype'),
        url('PermanentMarker-Regular.woff2') format('woff2'),
        url('PermanentMarker-Regular.woff') format('woff'),
        url('PermanentMarker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

