.skillsContainer {
  font-family: 'Aldrich';
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.skillsContainer__personalInfo, .skillsContainer__languages, .skillsContainer__professionalSkills, .skillsContainer__individualQualities {
  width: 49%;
}

.skillsContainer__head {
  color:#757575;
  margin-bottom: 15px;
  font-size: 24px;
}

.skillsContainer__listContainer {
  list-style-type:none;
}

.skillsContainer__listItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.skillsContainer__listItem:not(:last-of-type) {
  margin-bottom: 7px;
}

.skillsContainer__listItem-together {
  width: 100%;
  display: flex;
}

.skillsContainer__listItem-together:not(:last-of-type) {
  margin-bottom: 7px;
}

.skillsContainer__listName-together {
  margin-right: 20px;
  color: #ffffff;
}

.skillsContainer__listName {
  color: #ffffff;
}

.skillsContainer__listRes {
  color: #1FA184;
}

.skillsContainer__listName-quality {
  color: #ffffff;
}

.skillsContainer::-webkit-scrollbar {
  max-width: 7px;
  border-radius: 5px;
  background-color: #1FA184;
}

.skillsContainer::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 5px;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.skillsContainer::-webkit-scrollbar-thumb:hover {
  background-color: #1FA184;
}

/* Progressbar */

.range {
    position: relative;
    background-color: #333;
    width: 200px;
    height: 15px;
    transform: skew(30deg);
    width: 70%;
  }

  .range:before {
    --width: calc(var(--p) * 1%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1FA184;
    z-index: 0;
    -webkit-animation: load 0.5s forwards linear, linear;
            animation: load 0.5s forwards linear, linear;
  }

  .range:after {
    counter-reset: progress var(--p);
    content: counter(progress) "%";
    color: #000;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
  }
  
  .range__label {
    color: #ffffff;
  }
  
  @-webkit-keyframes load {
    to {
      width: var(--width);
    }
  }
  
  @keyframes load {
    to {
      width: var(--width);
    }
  }
  @-webkit-keyframes glitch {
    0%, 5% {
      transform: translate(0, 0);
    }
    1% {
      transform: translate(-5%, -10%);
    }
    2% {
      transform: translate(10%, 30%);
    }
    3% {
      transform: translate(-43%, 10%);
    }
    4% {
      transform: translate(2%, -23%);
    }
  }
  @keyframes glitch {
    0%, 5% {
      transform: translate(0, 0);
    }
    1% {
      transform: translate(-5%, -10%);
    }
    2% {
      transform: translate(10%, 30%);
    }
    3% {
      transform: translate(-43%, 10%);
    }
    4% {
      transform: translate(2%, -23%);
    }
  }

  @media (max-width: 900px) {
    
  }

 @media (max-width: 600px) {

  .skillsContainer {
    display: block;
    width: 60%;
  }

  .skillsContainer__personalInfo, .skillsContainer__languages, .skillsContainer__professionalSkills, .skillsContainer__individualQualities {
    width: 100%;
  }

.skillsContainer__personalInfo, .skillsContainer__languages, .skillsContainer__professionalSkills {
  margin-bottom: 30px;
}
 }

 @media (max-width: 500px) {
  .skillsContainer {
    display: block;
    width: 80%;
  }
  }