.navBar {
    height: 450px;
    text-align: center;
}

.navBar_icon {
    width: 30px;
    height: 30px;
    fill:aliceblue;
}

.navBar_icon-wrapper {
    padding:  10px;
}

.navBar_icon-wrapper:hover {
    background-color: #1FA184;
    cursor: pointer;
}

.navBar__iconContainer {
    list-style-type: none;
}

@media (max-width: 900px) {
    .navBar {
        height: auto;
        background-color: #313C42;
    }
    .navBar__iconContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        max-height: 50px;
    }

    .navBar_icon-wrapper {
        padding: 8px 30px;
    }
  }